.income {
    background: #fff;
    .performance-info {
        .wrap;
        .performance-item {
            line-height: 15vw;
            color: @font-primary-color;
            border-bottom: 1px solid @border-color;
            .performance-name {
                margin-left: 2vw;
                font-size: .9rem;
                color: @font-primary-color;
            }
            i {
                font-size: 1.9rem;
               // top:0 !important;
            }
        }
    }
}
