.booking_order {
  .booking_list {
    padding-bottom: 5px;
    font-size: 13px;
    color: #cecece;
    line-height: 1em;
    list-style: none;
    overflow: hidden;
  }

  .weui_cells {
    margin-top: 0px
  }

  .tubiao {

    h4,p {
      i {
        padding-right: 5px;
      }
    }
  }
}