.operationLog{
  font-size:4vw;
  .bodBox{
    background:#fff;
    width:94vw;
    margin:4vw auto 0;
    height:87vh;
    border-radius: 2vw;
    box-shadow:0 0 5px #ddd;
    padding:0 4vw;
    box-sizing: border-box;
  }
  .Number{
    color:#B14CC9;
  }
  .logHeader{
    color:#8C8C8C;
    height:5vh;
    padding-top:2vh;
  }
  .bodContent{
    height:80vh;
    overflow-y: scroll;
  }
  .logContent{
    height:12vw;
    border-bottom:1px solid #E8E8E8;
  }


  //detail
  .tabBox{
    background:#fff;
    width:94vw;
    margin:4vw auto 0;
    border-radius: 1vw;
    box-shadow:0 0 5px #ddd;
    padding:0 4vw;
    box-sizing: border-box;
    .tabHead{
      height:12vw;
    }
    .tabContent{
      overflow:hidden;
    }
  }
  .tabBox.act{
    .tabHead{
      color:#8C8C8C;
    }
    .tabContent{
    }
  }

  .tabContentItem{
    padding: 2vw 0;
    &:not(:last-child){
      border-bottom:1px solid #E8E8E8;
    }
  }
}

//
.changeDetail{
  font-size:4vw;
  padding-bottom: 4vw;
  &>.head{
    background:#B14CC9;
    color:#fff;
    text-align:right;
    font-size:3vw;
    box-sizing: border-box;
    padding:1vw 2vw;
  }
  .headContent{
    background:#fff;
    font-size:3vw;
    color:#8C8C8C;
    text-align:center;
    .content{
      padding:6vw 0;
      box-sizing: border-box;
    }
    .price{
      font-size:7vw;
      color:#B14CC9;
    }
    .radio{
      overflow: hidden;
      img{
        display:block;
        min-width:100%;
      }
    }
  }
  .bodItem{
    width:94vw;
    margin:4vw auto 0;
    .head{
      font-size:3vw;
      color:#8c8c8c;
      height:7vw;
    }
    .itemType{
      color:#8c8c8c;
    }
    .content{
      background:#fff;
      border-radius: 1vw;
      box-shadow:0 0 5px #ddd;
      box-sizing: border-box;
      .contentItem{
        height:10vw;
        padding:0 2vw;
        &:not(:last-child){
          border-bottom:1px solid #E8E8E8;
        }
      }
    }
  }
}