body{
	width: 100%;
	height: 100%;
}
ul{
	list-style:none;
}
//查看报告
.report{
	position: relative;
	height: 2em;
	line-height: 2em;
	text-align: center;
	.report_look{
		align:center;
		color:#3F4A57;
		font-size: 0.9em;
		a{
			margin-left: 0.9em;
			color: #58A2E8;
		}
	}
}

//业绩边框初始化定义
@round-border-size:1em;

//业绩提成模块
.roundCell{
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	.leftbox{
		position: relative;
		display: inline-block;
		width: 5em;
		float: left;
		padding-top: 5em;
		.leftDay{
			position: relative;
			width: 20%;
			color: #AFAEAF;
			i{
				font-size: 1.6em;
			}
		}

	}
	
	.rightbox{
		display: inline-block;
		width: 5em;
		float: right;
		padding-top: 5em;
		.thisMonth{
			position: relative;
			width: 20%;
			color: #AFAEAF;
			i{
				font-size: 1.6em;
			}
		}
	}
	
	.roundParent{
		position: relative;
		display: inline-block;
		margin-top: 1.5em;
		width: 9em;
		height: 9em;
		.round{
			position: relative;
			display: inline-block;
			width: 8em;
			height: 8em;
			margin: auto;
			border: 0.5em solid #eee;
			border-radius: 50%;	
			z-index: 1;
			.leftRound{
				position: absolute;
				float: left;
				width: 4.5em;
				height: 9em;
				overflow: hidden;
				z-index: 10;
				top: -0.5em;
				left: -0.5em;
				div{
					width: 8em;
					height: 8em;
					border: 0.5em solid red;
					border-left:0.5em solid transparent;   
					border-bottom:0.5em solid transparent;
					border-radius: 50%;
					position: relative;
					z-index: 3px;
					/*旋转45度,全部隐藏*/
					-webkit-transform: rotate(45deg);
					-moz-transform:rotate(-45deg);
					-o-transform:rotate(-45deg); 
				}
			}

			.rightRound{
				position: relative;
				width: 4.5em;
				height: 9em;
				float: right;
				z-index: 10;
				overflow: hidden;
				top: -0.5em;
				right: -0.5em;
				div{
					width: 8em;
					height: 8em;
					overflow: hidden;
					position: relative;
					border: 0.5em solid red;
					border-left:0.5em solid transparent;
					border-bottom:0.5em solid transparent;
					border-radius: 50%;
					right: 5em;
					/*旋转135度,完全隐藏*/
					-webkit-transform:rotate(-135deg);
					-moz-transform:rotate(-135deg);
					-o-transform:rotate(-135deg); 
				}
			}

		}
		
		//数据环中数据
		.user_data{
			position: relative;
			width: 8em;
			height: 8em;
			z-index: 11;
			top: -9em;
			left: 0.5em;
			p{
				font-size: 0.9em;
				color: #90979E;
				margin-top: 2em;
			}
			h3{
				color: #323B46;
			}
			.weui_progress_bar{
				position: relative;
				width: 5em;
				top: 0.5em;
				margin: auto;
			}
			button{
				position: relative;
				background-color: #fff;
				top: 1em;
				color: #DB5A5A;
				border-radius: 1em;
				width: 4.5em;
				height: 1.8em;
				border: 1px solid #CD4646;
			}
			span{
				display: block;
				margin-top: 1.5em;
				color: #6D7B8A;
				font-size: .1em;
			}
		}

	}
}

//业绩明细

.data_cell{
	position: relative;
	width: 100%;
	height: 3.5em;
	margin: auto;
	top: -5em;
	li{
		float: left;
		height: 3em;
		weight: 3em;
		padding-left: 0.8em;
		padding-right: 0.8em;
		border-right: 1px solid #B9B9B9;
		p{
			font-size: 1.2em;
			color: #3F4A57;
			span{
				position: relative;
				top: -0.8em;
				font-size: 0.6em;
				color: #000;
			}
		}
		a{
			font-size: 0.9em;
			color: #7E8D9C;
		}
	}
	& li:first-child{
		margin-left: 5%;
	}
	& li:last-child{
		border-right: none;
		padding-right: 0em;
	}

}

//店长-业绩明细
.details{
	position: relative;
	width: 100%;
	height: 100%;
	top: -5em;
	ul{
		li{
			height: 3em;
			border-bottom: 1px solid #E2E5E8;
			line-height: 3em;
			padding-left: 1.5em;
			.leftDetail{
				float: left;
				font-size: 0.9em;
				color: #6F6F6F;
			}
			.rightDetail{
				float: right;
				padding-right: 0.8em;
				color: #4A4A4A;
				i{
					margin-top: -0.2em;
				}
				span{
					padding-right: 0.8em;
				}
				i:last-child{
					font-size: 2em;
				}
			}
		}

		& li:first-child{
			padding-left: 0.5em;
			font-weight: bold;
			.leftDetail{
				font-size: 1em;
			}
		}
	}
}

//员工列表
.emp_details{
	position: relative;
	width: 100%;
	height: 100%;
	top: -5em;
	.emp{
		margin-top: 1em;
		height: 3em;
		border-bottom: 1px solid #E2E5E8;
		line-height: 3em;
		li{
			height: 3em;
			border-bottom: 1px solid #E2E5E8;
			a{
				display: block;
				width: 100%;
				height: 3em;
				.leftDetail{
					padding-left: 1.5em;
					float: left;
					font-size: 1em;
					color: #6F6F6F;
				}
				.rightDetail{
					float: right;
					padding-right: 0.8em;
					color: #4A4A4A;
					i{
						margin-top: -0.2em;
					}
					span{
						padding-right: 0.8em;
					}
				}
			}
		}
	}
}

//员工排名列表
.emp_list{
	position: relative;
	width: 100%;
	height: 100%;
	top: 1em;
	.emp{
		margin-top: 1em;
		height: 3em;
		border-bottom: 1px solid #E2E5E8;
		line-height: 3em;
		li{
			height: 3em;
			border-bottom: 1px solid #E2E5E8;
			a{
				display: block;
				width: 100%;
				height: 3em;
				.leftDetail{
					padding-left: 1.5em;
					float: left;
					font-size: 1em;
					color: #6F6F6F;
				}
				.rightDetail{
					float: right;
					padding-right: 0.8em;
					color: #4A4A4A;
					span{
						padding-right: 0.8em;
					}
				}
			}
		}
	}
}

//页脚标识
.pagfooter{
	float: left;
	width: 100%;
	margin-top: 130%;
	p{
		text-align: center;
		font-size: .35em;
		letter-spacing: .1em;
		color: #A9A9A9;
		
	}
}
//字体颜色样式类

//减免
.ft-color-jm{
	color: #75B8E8 !important;
}

//欠款
.ft-color-qk{
	color: #C33313 !important;
}
//进度条颜色库
.schedule-mw-pink{
	background-color: #E17072 !important;
}


//屏幕小于521
@media screen and (max-width: 521px) {
	//看昨天-看本月
	.roundCell{
		.leftbox{
			padding-left: 8%;
		}

		.rightbox{
			padding-right: 8%;
		}
	}

	//业绩明细
	.data_cell{
		li{
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
	}
}
//屏幕小于381
@media screen and (max-width: 381px) {
	//看昨天-看本月
	.roundCell{
		.leftbox{
			padding-left: 5%;
		}

		.rightbox{
			padding-right: 5%;
		}
	}

	.data_cell{
		li{
			padding-left: 1.2em;
			padding-right: 1.2em;
		}
	}

}
//屏幕小于321
@media screen and (max-width: 321px) {
	//看昨天-看本月
	.roundCell{
		.leftbox{
			padding-left: 0;
		}

		.rightbox{
			padding-right: 0;
		}
	}

	.data_cell{
		li{
			padding-left: 0.8em;
			padding-right: 0.8em;
		}
	}

	.pagfooter{
		margin-top: 120%;
	}

}
.weui_actionsheet_cell{
	color: #747474;
}

/*服务小计*/
.comment_form{
	position: relative;
	width: 100%;
	top: 1em;
	background-color: #FFF;
	border-top: 1px solid #EEE;
	box-shadow: 0px 1px 1px #CECECE;
	.inward_box{
		position: relative;
		width: 90%;
		margin: auto;
		ul{
			position: relative;
			width: 100%;
			margin-top: 0.3em;
			li{
				font-size: 0.9em;
				font-weight: 600;
				.label_content{
					display: inline-block;
					width: 25%;
					color: #8D8D8D;
				}
				span{
					color: #49D7E1;
				}
			}
		}
		.solidWire{
			width: 100%;
			height: 1px;
			background-color: #EEE;
			margin-top: .5em;
		}
		.comment{
			width: 100%;
			margin-top: .8em;
			textarea{
				width: 100%;
				height: 10em;
				line-height: 1em;
				padding-top: .4em;
				border: none;
				resize:none;
				font-weight: 600;
				font-size: 1em;
			}
		}
	}
}

//上传图片模块
.servicepic{
	position: relative;
	width: 100%;
	height: 6em;
	top: 2em;
	background-color: #FFF;
	box-shadow: 0px 1px 1px #CECECE;
	text-align: left;
	line-height: 6em;
	color: #7A7A7A;
	.uploadImg{
		float: left;
		width: 4.5em;
		height: 4.5em;
		margin-top: .75em;
		margin-left: .75em;
		background-color: #EEE;
		border: 1px dashed #CBCBCB;
		img{
			width: 4.5em;
			height: 4.5em;
		}
	}
	span{
		position: relative;
		margin-left: 3em;
	}
}


//提交按钮
.submit_comment{
	position: relative;
	width: 100%;
	height: 3em;
	margin-top: 3em;
	a{
		width: 90%;
	}
}
.comment_save_btn{
	background-color: #3DD4E0;
}

/*订单详情页面*/
.orderDetail{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	margin-top: 1em;
	.orderdetail9{
		position: relative;
		width: 90%;
		height: 100%;
		margin: auto;
		.order_num{
			height: 2.5em;
			line-height: 2.5em;
			border-bottom: 1px solid #ECECEC;
			font-family: "微软雅黑";
		}

		.clientName{
			position: relative;
			height: 1.5em;
			line-height: 1.5em;
			margin-top: 0.5em;
			color: #6F6F6F;
			span{
				color: #45D6E1;
			}
		}
		.ordertime{
			position: relative;
			height: 1.5em;
			line-height: 1.5em;
			color: #6F6F6F;
		}
		
		//项目内容
		.order-item{
			position: relative;
			width: 100%;
			li{
				color: #666666;
				.leftorder{
					display: inline-block;
					width: 5em;
				}
				span{
					color: #3DD5E0;
				}
				strong{
					display: block;
					float: right;
					color: #FF7181;
				}
			}
		}
		
		//业绩
		.performance-num{
			position: relative;
			width: 100%;
			color:#676767;
			.performance{
				display: inline;
				span{
					color: #3ED5E0;
					margin-left: .5em;
				}
			}
			.push{
				display: inline;
				margin-left: .5em;
				span{
					color: #3ED5E0;
					margin-left: .5em;
				}
			}

			strong{
				display: inline-block;
				float: right;
				color: #FF7181;
				i{
					line-height: -1px;
				}
			}
		}

		//图片
		.orderimg{
			position: relative;
			width: 100%;
			margin-top: .5em;
			img{
				width: 100%;
			}
		}

		//评价内容
		.evaluatebox{
			position: relative;
			width: 100%;
			height: 3em;
			line-height: 3em;
			.evaluate{
				display: inline;
				width: 100%;
				color: #C2C2C2;
				font-size: .9em;
			}
			button{
				display: inline;
				float: right;
				width: 6em;
				height: 2em;
				margin-top: 1em;
				background-color: #FFF;
				border-radius: .3em;
				border: 1px solid #3DD5E0;
				color: #3DD5E0;
			}
		}
	}
}

/*波浪卷边*/
.rollside{
	position: relative;
	width: 100%;
	img{
		width: 100%;		
	}
}

/*预约单列表样式start*/
.headerFence{
	position: relative;
	width: 100%;
	height: 3em;
	background-color: #FFF;
	line-height: 3em;
	text-align: center;
	color: #C8C8C8;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0px 1px 3px #D8D8D8;
	.headerFence9{
		position: relative;
		width: 90%;
		margin: auto;
		a{
			position: relative;
			display: inline-block;
			border: 1px solid #C7C7C7;
			height: 1.7em;
			width: 5em;
			border-radius: .2em;
			line-height: 1.7em;
			font-size: .8em;
		}
		input{
			text-align: center;
			border: none;
			font-size: 1em;
			color: #646464;
		}
	}
}

//预约列表
.bookingList{
	position: relative;
	width: 100%;
	background-color: #FFF;
	margin-top: .8em;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0px 1px 3px #D8D8D8;
	color: #686868;
	.bookinglist9{
		position: relative;
		width: 90%;
		margin: auto;
		.bookingClientName{
			position: relative;
			height: 1.6em;
			line-height: 1.6em;
			margin-top: 1em;
			color: #6F6F6F;
			span{
				color: #45D6E1;
			}
			a{
				float: right;
				display: block;
				color: #C3C3C3;
			}
		}
		.bookingordertime{
			position: relative;
			height: 1.6em;
			line-height: 1.6em;
			color: #6F6F6F;
		}
		.booking-order-item{
			position: relative;
			width: 100%;
			li{
				color: #666666;
				.leftorder{
					display: inline-block;
					width: 5em;
				}
				span{
					color: #3DD5E0;
				}
				strong{
					display: block;
					float: right;
				}
				.bkorder-affirm{
					color: #70E3A4;
				}
				.bkorder-unaffirm{
					color: #FFCF4D;
				}
			}
		}
		.bookingborder{
			width: 100%;
			height: 1px;
			background-color: #EEE;
			margin-top: 1em;
		}

		.evaluatebox{
			position: relative;
			width: 100%;
			height: 3em;
			line-height: 3em;
			.evaluate{
				display: inline;
				width: 100%;
				color: #C2C2C2;
				font-size: .9em;
			}
		}
	}
}
/*预约单列表样式end*/

/*订单列表样式 start*/
.orderlist-headerFence{
	position: relative;
	width: 100%;
	height: 5.8em;
	background-color: #FFF;
	line-height: 3em;
	color: #C8C8C8;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0px 1px 3px #D1D1D1;
	.headerFence9{
		position: relative;
		text-align: center;
		width: 90%;
		margin: auto;
		border-bottom: 1px solid #EEE;
		a{
			position: relative;
			display: inline-block;
			border: 1px solid #C7C7C7;
			height: 1.7em;
			width: 5em;
			border-radius: .2em;
			line-height: 1.7em;
			font-size: .8em;
		}
		input{
			text-align: center;
			border: none;
			font-size: 1em;
			color: #646464;
		}
	}
	.headerPerformance9{
		position: relative;
		width: 90%;
		height: 2.8em;
		line-height: 2.8em;
		color: #666666;
		margin: auto;
		.performance{
			display: inline;
			strong{
				color: #40D5E0;
			}
		}
		.push{
			display: inline;
			margin-left: 1em;
			strong{
				color: #40D5E0;
			}
		}
	}
}
.orderList{
	position: relative;
	width: 100%;
	background-color: #FFF;
	margin-top: .8em;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #D1D1D1;
	box-shadow: 0px 1px 3px #D1D1D1;
	color: #686868;
	.orderList9{
		position: relative;
		width: 90%;
		margin: auto;
		.orderClientName{
			position: relative;
			height: 1.6em;
			line-height: 1.6em;
			margin-top: 1em;
			color: #6F6F6F;
			span{
				color: #45D6E1;
			}
			a{
				float: right;
				display: block;
				color: #C3C3C3;
			}
		}
		.ordertime{
			position: relative;
			height: 1.6em;
			line-height: 1.6em;
			color: #6F6F6F;
		}
		.order-item{
			position: relative;
			width: 100%;
			li{
				color: #666666;
				.leftorder{
					display: inline-block;
					width: 5em;
				}
				span{
					color: #3DD5E0;
				}
				strong{
					display: block;
					float: right;
					color: #FF7383;
				}
			}
		}

		.orderlist-performance{
			width: 100%;
			margin-top: .2em;
			color:#676767;
			.performance{
				display: inline;
				span{
					color: #3ED5E0;
					margin-left: .5em;
				}
			}
			.push{
				display: inline;
				margin-left: .5em;
				span{
					color: #3ED5E0;
					margin-left: .5em;
				}
			}
			strong{
				display: inline-block;
				float: right;
			}
			.payment{
				color: #FF7181;
			}
			.unpayment{
				color: #FFCF4D;
			}
		}

		.orderborder{
			width: 100%;
			height: 1px;
			background-color: #EEE;
			margin-top: .5em;
		}

		.evaluatebox{
			position: relative;
			width: 100%;
			height: 3em;
			line-height: 3em;
			.evaluate{
				display: inline;
				width: 100%;
				color: #C2C2C2;
				font-size: .9em;
			}
			button{
				display: inline;
				float: right;
				width: 6.2em;
				height: 2.2em;
				margin-top: .5em;
				background-color: #FFF;
				border-radius: .3em;
				border: 1px solid #3DD5E0;
				color: #3DD5E0;
				font-size: 1em;
			}
		}

	}
}