@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?-6nw7k9');
    src: url('../fonts/icomoon.eot?#iefix-6nw7k9') format('embedded-opentype'), url('../fonts/icomoon.ttf?-6nw7k9') format('truetype'), url('../fonts/icomoon.woff?-6nw7k9') format('woff'), url('../fonts/icomoon.svg?-6nw7k9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    // line-height: 1;
    -webkit-font-smoothing: antialiased;
}

//test
.icon-test:before {
    content: "\e64b";
}

//用户
.icon-user-female2:before {
    content: "\e60c";
}

.icon-id2:before {
    content: "\e61d";
}

.icon-graph23:before {
    content: "\e6cd";
}

.icon-date2:before {
    content: "\e6e1";
}

.icon-diamond2:before {
    content: "\e62a";
}

.icon-note2:before {
    content: "\e6ac";
}

//时钟
.icon-time:before {
    content: "\e654";
}

//男
.icon-man:before {
    content: "\e651";
}

.icon-item-list:before {
    content: "\e641";
}

//美问
.icon-meiwen:before {
    content: "\e600";
}

.icon-bookmarks:before {
    content: "\e658";
}

//左箭头
.icon-uniF3D2:before {
    content: "\f3d2";
}

//右箭头
.icon-uniF3D3:before {
    content: "\f3d3";
}

//￥金钱符号
.icon-cash:before {
    content: "\e602";
}

//增长符号
.icon-ribbon2:before {
    content: "\e69a";
    color: #E12727;
}

//下降符号
.icon-ribbon:before {
    content: "\e61b";
    color: #0BC068;
}

//对号
.icon-ios-checkmark-outline:before {
    content: "\e625";
}

//增长颜色值
.riseColor {
    color: #E12727;
}

//下降颜色值
.lowerColore {
    color: #0BC068;
}

//叹号
.icon-ios-information-outline:before {
    content: "\e62b";
}

//IconFont图标库
@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1477541005');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1477541005#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1477541005') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1477541005') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1477541005#iconfont') format('svg');
    /* iOS 4.1- */
}

.ic {
    font-family: "iconfont" !important;
    font-size: 1.2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    // line-height: 1;
}

.icon-datezhuanhuan:before { content: "\e68c"; }

.icon-add:before { content: "\e621"; }

.icon-jiantou:before { content: "\e60c"; }

.icon-sousuo:before { content: "\e64c"; }

.icon-shijian2:before { content: "\e615"; }

.icon-mima:before { content: "\e617"; }

.icon-renminbi:before { content: "\e618"; }

.icon-gerenzhongxin1:before { content: "\e60e"; }

.icon-jiantou1:before { content: "\e61a"; }

.icon-nan:before { content: "\e66b"; }

.icon-nv:before { content: "\e683"; }

.icon-xiangji:before { content: "\e61d"; }

.icon-tubiao06:before { content: "\e656"; }

.icon-kulian:before { content: "\e679"; }

.icon-yuangongfenxi:before { content: "\e669"; }

.icon-scan:before { content: "\e676"; }

.icon-shaixuan2:before { content: "\e75d"; }

.icon-fuwudianping:before { content: "\e647"; }

.icon-shengri1:before { content: "\e6f5"; }

.icon-xiaolian:before { content: "\e636"; }

.icon-yiwancheng:before { content: "\e65b"; }

.icon-xiaolian1:before { content: "\e67a"; }

.icon-jiantou-down:before { content: "\e671"; }

.icon-yiqueren:before { content: "\e660"; }

.icon-case:before { content: "\e619"; }

.icon-yiwancheng1:before { content: "\e663"; }

.icon-yiwancheng2:before { content: "\e667"; }

.icon-jiantou01:before { content: "\e639"; }

.icon-dingbu:before { content: "\e688"; }

.icon-jiantou-up:before { content: "\e672"; }

.icon-jiantouyou-copy:before { content: "\e63f"; }

.icon-tianxie:before { content: "\e675"; }

.icon-tongjifenxi:before { content: "\e628"; }

.icon-yiquxiao:before { content: "\e66c"; }

.icon-xingming:before { content: "\e715"; }

.icon-yizuofei:before { content: "\e698"; }

.icon-yiquxiao1:before { content: "\e699"; }

.icon-yichenggong:before { content: "\e69a"; }

.icon-daiqueren1:before { content: "\e69b"; }

.icon-yiqueren1:before { content: "\e69c"; }

.icon-chenggong:before { content: "\e659"; }

.icon-bl21gobackarrow:before { content: "\e68b"; }

.icon-admin_man:before { content: "\e648"; }

.icon-36x36guanbi:before { content: "\e69d"; }

.icon-daijinquanlingquan:before { content: "\e685"; }

.icon-icon01:before { content: "\e64b"; }

.icon-home_news:before { content: "\e65c"; }

.icon-zhangdan:before { content: "\e678"; }

.icon-qiehuanyonghu:before { content: "\e64e"; }

.icon-yanjing:before { content: "\e695"; }

.icon-fangzi:before { content: "\e645"; }

.icon-fenxi:before { content: "\e65a"; }

.icon-tuangou:before { content: "\e687"; }

.icon-mian:before { content: "\e689"; }

.icon-xianjin:before { content: "\e68a"; }

.icon-zhifubao:before { content: "\e68d"; }

.icon-zengpin:before { content: "\e68e"; }

.icon-qiankuan:before { content: "\e68f"; }

.icon-POSzhifu1:before { content: "\e690"; }

.icon-huiyuanqia:before { content: "\e691"; }

.icon-weixin1:before { content: "\e692"; }

.icon-dianneihuodong:before { content: "\e693"; }

.icon-quan1:before { content: "\e694"; }

.icon-jiantou-right:before { content: "\e717"; }

.icon-quan2:before { content: "\e654"; }






@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon-new.eot?-6nw7k9');
    src: url('../fonts/icomoon-new.eot?#iefix-6nw7k9') format('embedded-opentype'), url('../fonts/icomoon-new.ttf?-6nw7k9') format('truetype'), url('../fonts/icomoon-new.woff?-6nw7k9') format('woff'), url('../fonts/icomoon-new.svg?-6nw7k9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-chulizhong:before {
    content: "\e900";
}

.icon-daifukuan:before {
    content: "\e901";
}

.icon-tuikuan:before {
    content: "\e902";
}

.icon-weikuan:before {
    content: "\e903";
}

.icon-yifukuan:before {
    content: "\e904";
}

.icon-yiqueren:before {
    content: "\e905";
}

.icon-yiquxiao:before {
    content: "\e906";
}

.icon-yiquxiao1:before {
    content: "\e907";
}

.icon-yiwancheng:before {
    content: "\e908";
}

.icon-yiwancheng1:before {
    content: "\e909";
}

.icon-yizuofei:before {
    content: "\e90a";
}
