    body {
        background-color: #EEE;
    }
    
    .sign_app {
        width: 100%;
        height: 35vh;
        font-family: "微软雅黑";
        .header_module {
            position: relative;
            width: 100%;
            height: 35vh;
            background: url('../images/637487861281385685.jpg') no-repeat -123px;
            // background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
            // background: -webkit-gradient(linear, 0 100%, 100% 100%, from(#6C2FAA), to(#7159EA));
            .title {
                padding: 4vw;
                line-height: 8vw;
                font-size: 5vw;
                font-weight: bold;
            }
            .date,
            .user-info {
                padding-right: 5vw;
                text-align: right;
                div {
                    color: #fff;
                }
                .card_name {
                    width: 35vw;
                    margin-left: 60vw;
                    word-wrap: break-word;
                    text-align: center;
                }
                .week {
                    font-size: .7em;
                }
                .head_time {
                    font-size: 2em;
                }
            }
        }
    }
    
    //白色背景缓冲
    .whitebackground {
        position: relative;
        background-color: #FFF;
        float: left;
        width: 100%;
        height: 5.6em;
        top: 5em;
        z-index: 0;
    }
    
    //签到卡片
    .sign_panel {
        position: relative;
        background-color: #FFF;
        min-height: 65vh;
        .sign_panel_line {
            background: #f5f5f5;
            text-align: center;
            width: 1px;
            position: relative;
            left: 58vw;
            top: -25.5vw;
            height: 15vw;
        }
        i {
            font-size: 20px;
            margin-top: -4px;
        }
        .line_top {
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid #f5f5f5;
            border-radius: 100%;
            top: -11px;
            left: -5px;
        }
        .tag {
            width: 140px;
            height: 45px;
            line-height: 45px;
            border: 1px dashed #fff;
            background: #eaeaea;
            position: absolute;
            opacity: .8;
            text-align: center;
        }
        .sign_in {
            top: -10vw;
            left: 12vw;
            .sign_in_line {
                position: absolute;
                width: 10px;
                height: 10px;
                border: 1px solid #fff;
                border-radius: 100%;
                left: 44.5vw;
                top: -0.5vw;
            }
            #sign_in_bubble {
                border: 15px solid transparent;
                border-left: 35px solid #eaeaea;
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                right: -39px;
                top: -3px;
                transform: rotate(-30deg);
            }
        }
        .sign_after {
            right: 2vw;
            #sign_after_bubble {
                border: 15px solid transparent;
                border-left: 35px solid #eaeaea;
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                top: -24px;
                left: -4vw;
                transform: rotate(-127deg);
            }
        }
        .sign_in_info-0 {
            width: 50%;
            text-align: right;
            border-right: 1px solid #f5f5f5;
            padding-left: 7.2vw;
            position: relative;
            margin-top: 3vw;
            i {
                font-size: 1.1em;
                margin-top: -1.5vw;
            }
            .line_top {
                left: 56vw;
            }
            .sign_info {
                padding-right: 2vw;
                padding-top: 6vw;
                font-size: 10pt;
            }
        }
        .sign_in_info-1 {
            margin-left: 57%;
            text-align: left;
            border-left: 1px solid #f5f5f5;
            position: relative;
            padding-left: 2vw;
            margin-top: 3vw;
            i {
                font-size: 1.1em;
                margin-top: -1.5vw;
            }
            .sign_info {
                padding-top: 6vw;
                font-size: 10pt;
            }
            // .sign_date {
            //     position: relative;
            //     left: -16vw;
            //     top: 3vw;
            //     border: 1px dashed #eaeaea;
            //     display: inline;
            //     padding: 2vw 4vw;
            //     color: #999;
            //     font-size: 9pt;
            // }
        }
        .sign_date {
            position: relative;
            left: 41vw;
            top: -1vw;
            border: 1px dashed #eaeaea;
            padding: 2vw 4vw;
            color: #999;
            font-size: 9pt;
            width: 20vw;
            margin: 2vw;
        }
        .more {
            font-size: 9pt;
            color: #999;
            text-align: center;
            padding: 10px;
        }
    }
    
    // h3 {
    //     position: relative;
    //     top: 1em;
    //     margin-left: 0.5em;
    //     font-size: 0.9em;
    //     color: #EAEAF0;
    //     font-weight: normal;
    //     line-height: 1px;
    // }
    // .week {
    //     position: relative;
    //     top: 7em;
    //     right: -13vw;
    //     width: 80%;
    //     text-align: right;
    //     font-size: .7em;
    //     color: #EAEAF0;
    // }
    // .head_time {
    //     position: relative;
    //     top: 2.6em;
    //     width: 80%;
    //     right: -17vw;
    //     text-align: right;
    //     font-size: 2em;
    //     text-shadow: #4D1A83 0 1px 2px;
    //     color: #FFF;
    // }
    // }
    //头像-姓名-职位
    // .card {
    //     position: relative;
    //     width: 100%;
    //     height: 3em;
    //     z-index: 3;
    //     background-color: #FFF;
    //     .headerimg {
    //         float: left;
    //         position: relative;
    //         display: inline;
    //         height: 100%;
    //         width: 30%;
    //         top: -2.5em;
    //         width: 5em;
    //         height: 5em;
    //         border: 0.3em double #FFF;
    //         background-color: #FFF;
    //         border-radius: 50%;
    //         box-shadow: #EEE 0px 0px 2px;
    //         margin-left: 2.5em;
    //         overflow: hidden;
    //         img {
    //             width: 5em;
    //             height: 5em;
    //             border: 0;
    //         }
    //     }
    //     .card_name {
    //         position: relative;
    //         display: inline;
    //         top: -3.5em;
    //         right: -67vw;
    //         color: #F4F1FA;
    //     }
    //     .card_role {
    //         position: relative;
    //         display: inline;
    //         color: #fff;
    //         right: -40vw;
    //         top: -2em;
    //     }
    // }
    // .workTime {
    //     position: relative;
    //     width: 95%;
    //     height: 2.5em;
    //     font-size: 1em;
    //     color: #777777;
    //     margin-left: 5%;
    //     line-height: 3.5em;
    //     text-align: left;
    //     b {
    //         position: relative;
    //         display: inline-block;
    //         width: 3px;
    //         height: 1em;
    //         top: 1px;
    //         left: -6.6em;
    //         background-color: #56E4CC;
    //     }
    //     span {
    //         position: relative;
    //         left: -6.6em;
    //         margin-left: 2%;
    //     }
    // }
    //签到-签退内容
    // .sign_info {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #FFF;
    //     .lefttime {
    //         width: 100%;
    //         height: 100%;
    //         line-height: 2.5em;
    //         float: left;
    //         background-color: #FFF;
    //         ul {
    //             li {
    //                 padding-top: 0.3em;
    //                 margin-left: 5%;
    //                 border-top: 1px solid #EEE;
    //                 b {
    //                     position: relative;
    //                     display: inline-block;
    //                     width: 6px;
    //                     height: 6px;
    //                     top: -3px;
    //                     border-radius: 50%;
    //                     background-color: #FFF;
    //                 }
    //                 .redcolor {
    //                     background-color: red;
    //                 }
    //                 .bluecolor {
    //                     background-color: #00B7EE;
    //                 }
    //                 .greencolor {
    //                     background-color: #4BDD8E;
    //                 }
    //                 span {
    //                     margin-left: 0.5em;
    //                     color: #737373;
    //                 }
    //                 .late {
    //                     font-size: 0.5em;
    //                     color: #C3C3C3;
    //                     margin-left: 0.8em;
    //                 }
    //                 .signaddr {
    //                     font-size: 0.8em;
    //                 }
    //                 button {
    //                     position: relative;
    //                     float: right;
    //                     width: 20%;
    //                     margin-right: 5%;
    //                     height: 2.5em;
    //                     color: #FFF;
    //                     font-weight: bold;
    //                 }
    //                 .signin {
    //                     border: 2px solid #3DD5E0;
    //                     background-color: #3DD5E0;
    //                 }
    //                 .signexit {
    //                     border: 2px solid #FF7181;
    //                     background-color: #FF7181;
    //                 }
    //                 & li:first-child {
    //                     border-top: 1px solid #EEE;
    //                 }
    //             }
    //         }
    //     }
    // .sign_after {
    //     width: 100%;
    //     height: 100%;
    //     float: left;
    //     background-color: #FFF;
    //     padding-top: 0.4em;
    //     ul {
    //         li {
    //             padding-top: 0.3em;
    //             margin-left: 5%;
    //             b {
    //                 position: relative;
    //                 display: inline-block;
    //                 width: 6px;
    //                 height: 6px;
    //                 top: -3px;
    //                 border-radius: 50%;
    //                 background-color: #FFF;
    //             }
    //             .redcolor {
    //                 background-color: red;
    //             }
    //             .bluecolor {
    //                 background-color: #00B7EE;
    //             }
    //             .greencolor {
    //                 background-color: #4BDD8E;
    //             }
    //             span {
    //                 margin-left: 0.5em;
    //                 color: #737373;
    //             }
    //             .late {
    //                 font-size: 0.5em;
    //                 color: #C3C3C3;
    //                 margin-left: 0.8em;
    //             }
    //             .signaddr {
    //                 font-size: 0.8em;
    //             }
    //         }
    //         & li:first-child {
    //             border-top: 1px solid #EEE;
    //         }
    //         li:last-child {
    //             span {
    //                 margin-left: 0.7em;
    //             }
    //         }
    //     }
    // }
    // }
    // }
    //签到提示
    .alertSign {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0em;
        left: 0em;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        .signMsg {
            width: 100%;
            height: 100%;
            img {
                position: relative;
                width: 20em;
                height: 9.5em;
                margin-left: 50%;
                margin-top: 50%;
                left: -10em;
            }
        }
    }
    
    .msgcontent {
        position: fixed;
        width: 20em;
        height: 9.5em;
        z-index: 1000;
        margin-left: 50%;
        margin-top: 50%;
        left: -10em;
        top: -4.25em;
        text-align: center;
        .msgtimes {
            color: #5A5A5A;
            margin-top: 10.25em;
        }
        .msghint {
            color: #69DDE5;
        }
        .msggohome {
            color: #FF7887;
        }
    }
