.index,
.income {
    i {
        top: .4vw;
    }
    .index-main {
        // position: relative;
        // height: 100vh;
    }
    // .go-left {
    //     // position: absolute;
    //     // top: 4vw;
    //     // left: 2vw;
    //     display: inline-block;
    //     width: 2.5vw;
    //     height: 2.5vw;
    //     border: 1px solid #fff;
    //     border-top: none;
    //     border-right: none;
    //     transform: rotate(45deg);
    // }
    // .go-bottom {
    //     display: inline-block;
    //     width: 2.5vw;
    //     height: 2.5vw;
    //     border: 1px solid #fff;
    //     border-top: none;
    //     border-right: none;
    //     transform: rotate(-40deg);
    //     -webkit-transform: rotate(-40deg);
    //     position: absolute;
    //     top: 3vw;
    //     left: 10vw;
    // }
    .primary-color {
        color: @primary-color ;
    }
    // .inline-block{
    //     display:inline-block;
    // }
    .header {
        background: url(../images/bg-2017zhq.jpg) no-repeat;//bg2
        //background: #c12ee6;
        height: 50vw;
        background-size: 100% 100%;
        color: #fff;
        font-family: '微软雅黑';
        position: relative;
        .top-bar {
            height: 10vw;
            line-height: 10vw;
            font-size: 1.2rem;
            position: relative;
            padding-top: 2vw;
            .storeList {
                position: absolute;
                left: 0;
            }
            .dateList,
            .normal-dateList {
                position: absolute;
                left: 40vw;
            }
            .employeeRoleList {
                position: absolute;
                right: -2vw;
                width: 10vw;
                height: 10vw;
                text-align: center;
                padding: 0 0 0 2vw;
            }
        }
        .message {
            height: 7vw;
            .message-info {
                color: #fff;
                position: absolute;
                right: 0;
                display: block;
                top: 15vw;
                // background: #9e54cf;
                border-radius: 1.8rem 0 0 1.8rem;
                width: 12vw;
                text-align: center;
                height: 10vw;
                line-height: 10vw;
                opacity: .7;
                i {
                    font-size: 4.5vw;
                    // line-height: 12vw;
                }
                .message-news {
                    background: rgba(255, 255, 255, .4);
                    border-radius: 100%;
                    display: block;
                    width: 1.1rem;
                    height: 1.1rem;
                    line-height: 1.1rem;
                    font-size: .7rem;
                    position: absolute;
                    top: 0;
                    right: 2vw;
                }
            }
        }
        .performance {
            // height: 210vw;
            display: -webkit-flex;
            display: flex;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
            .totalAmount {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column;
                flex-flow: column;
                -webkit-align-items: center;
                align-items: center;
                flex-basis: 45%;
                -webkit-flex-basis: 45%;
                .title {
                    font-size: .9rem;
                }
                .price {
                    font-size: 10vw;
                }
            }
            .vs {
                font-size: .9rem;
                background: rgba( 255, 255, 255, .4);
                border-radius: 100%;
                width: 10vw;
                height: 10vw;
                text-align: center;
                line-height: 10vw;
                font-weight: bold;
                // margin: 0 5vw;
            }
        }
        // .bg-fixed {
        //     position: absolute;
        //     background: #fff;
        //     width: 92vw;
        //     height: 13vw;
        //     opacity: .1;
        //     border-radius: 10vw;
        //     bottom: 4vh;
        // }
    }
    .sub-bar {
        // height: 12vw;
        // margin-top: 4vh;
        // padding: 0 2vw;
        // z-index: 11;
        // background: rgba( 255, 255, 255, .4);
        // border-radius: 35px;
        background: #fff;
        margin: 2.5vw auto;
        height: 15vw;
        border-radius: 5px;
        .box-shadow;
        .item {
            color: @font-primary-color;
            .count {
                font-size: 1.1rem;
                color: @primary-color;
            }
            .text,
            .title {
                font-size: .9rem;
            }
        }
        .item-line {
            width: 1px;
            height: 3vw;
            background: #eaeaea;
            opacity: .5;
            display: block;
            margin-top: 3vw;
            position: relative;
            left: 0;
        }
    }
    .main-info {
        background: #fff;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 2.5vw;
        border-radius: 5px;
        .box-shadow;
        a {
            color: #333 !important;
            -webkit-tap-highlight-color: transparent;
            flex-basis: 33%;
            -webkit-flex-basis: 33%;
            width: 33%;
            text-align: center;
            height: 25vw;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            flex-flow: column;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: space-around;
            justify-content: space-around;
        }
        .item {
            i {
                font-size: 1.8rem;
            }
        }
        .item-1,
        .item-3 {
            i {
                color: #e34748;
            }
        }
        .item-2,
        .item-6 {
            i {
                color: #eea637;
            }
        }
        .item-4,
        .item-5 {
            i {
                color: #59a2d5;
            }
        }
        .item-7 {
            i {
                color: #00cbc7;
            }
        }
        .border-right {
            border-right: 1px solid @border-color;
        }
        .border-bottom {
            border-bottom: 1px solid @border-color;
        }
    }
    .card-list {
        .wrap;
        a {
            color: #333 !important;
            margin: 2.5vw 0;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            background: #fff;
            height: 15vw;
            border-radius: 5px;
            .box-shadow;
            padding: 0 3vw;
        }
        .card-box {
            i {
                font-size: 1.8rem;
            }
        }
        .card-box-1 {
            i {
                color: #fd9a32;
            }
        }
        .card-box-2 {
            i {
                color: #df5552;
            }
        }
        .card-box-3 {
            i {
                color: #65a9da;
            }
        }
        .card-box-4 {
            i {
                color: #00cbc7;
            }
        }
    }
    //员工
    .normal-header {
        .performance {
            justify-content: center;
            -webkit-justify-content: center;
        }
        .achievementTotalAmount {
            .total-line {
                width: 10vw;
                height: 2px;
                background: #fff;
                opacity: .3;
                margin-top: 1vw;
            }
            .item {
                font-size: 1.8rem;
                .price {
                    font-size: 3rem;
                }
            }
        }
        .sub-bar {
            .item {
                .title {
                    font-size: .8rem;
                }
            }
        }
    }
    .normal-info {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 1.2rem;
        border-radius: 5px;
        background: none;
        .item {
            color: #333 !important;
            -webkit-tap-highlight-color: transparent;
            text-align: center;
            height: 25vw;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            flex-basis: 23%;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            background: #fff;
            border-radius: 5px;
            flex-flow: column;
            -webkit-flex-flow: column;
        }
        .item-1,
        .item-3 {
            i {
                color: #e34748;
            }
        }
        .item-2,
        .item-6 {
            i {
                color: #eea637;
            }
        }
        .item-4,
        .item-5 {
            i {
                color: #eea637;
            }
        }
    }
    .font-size-9 {
        font-size: .7rem;
        color: #666;
    }
    .font-size-10 {
        font-size: .8rem;
    }
    .font-size-18 {
        font-size: 1.35rem;
    }
    .font-size-12 {
        font-size: .9rem;
    }
    .margin-top-8 {
        margin-top: -10vw;
        font-size: .9rem;
    }
}

* {
    cursor: pointer;
}