// 全局样式定义
@import './_agile';
@import './_flex';
html {
    .FS(75);
    font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    line-height: 1.6;
    background-color: @color-bg;
    color: #333;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
body {
    .FS(@fs28);
}
html,
body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
body,
button,
dd,
dl,
ol,
ul,
p,
h1,
h3,
ul {
    margin: 0;
    padding: 0;
}
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em;
    height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
    overflow: hidden;
}
button,
input,
select,
textarea {
    outline: none;
    border: none;
}
input {
    background: transparent;
}
input,
textarea,
keygen,
select,
button {
    .fs24;
    font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
    color: @color-primary;
    text-decoration: none;
}
p {
    .FS(@fs28);
}
img {
    width: 100%;
}
.fs20 {
    .FS(@fs20);
}
.fs24 {
    .FS(@fs24);
}
.fs28 {
    .FS(@fs28);
}
.fs32 {
    .FS(@fs32);
}
.fs36 {
    .FS(@fs36);
}
.fs40 {
    .FS(@fs40);
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
//全局样式
.cell {
    .PTB(24);
}
.cell-box {
    .PLR(32);
}
.font-gay {
    color: @gray;
}
.border-bottom {
    border-bottom: 1px solid @border-gay;
}
.border-top {
    border-top: 1px solid @border-gay;
}
.mtcp {
    color: @color-primary;
}
.melg {
    color: @extra-light-gray;
}
.mceb {
    color: @extra-black;
}
.mcg {
    color: @color-green;
}
.mcd {
    color: @color-danger;
}
.m-save-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .FS(@fs36);
    .PTB(@l24);
    text-align: center;
    background-color: @color-primary;
    color: @white;
    .line {
        width: 1px;
        background-color: #f5f5f5;
    }
}
.m-mark-tag {
    .FS(16);
    .PLR(@l8);
    border-radius: 2px;
    white-space: nowrap;
    border: 1px solid #EBEBEB;
    background-color: @color-bg;
    color: @dark-gray;
}
.m-scroll {
    -webkit-overflow-scrolling: touch;
}

/* 路由动画*/

@animateSpeed: .3s;

/*move*/

.bounce-enter-active {
    animation: bounce-in @animateSpeed;
    position: fixed;
    width: 100%;
    z-index: 2
}
.bounce-leave-active {
    animation: bounce-out @animateSpeed/2;
    position: fixed;
    width: 100%;
    z-index: 1
}
@keyframes bounce-in {
    0% {
        transform: scale(.9) translate(0, 1500/@base-rem);
    }
    85% {
        transform: scale(.9) translate(0, 0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, 1500/@base-rem);
    }
}

/*move*/

.move-enter-active {
    animation: move-in @animateSpeed;
    position: fixed;
    width: 100%;
    z-index: 1
}
.move-leave-active {
    animation: move-out @animateSpeed;
    position: fixed;
    width: 100%;
    z-index: 1
}
.move-enter {
    animation: move-in @animateSpeed;
    position: fixed;
    width: 100%;
    z-index: 2
}
.move-leave-to {
    animation: move-out @animateSpeed;
    position: fixed;
    width: 100%;
    z-index: 2
}
@keyframes move-in {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@keyframes move-out {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

/****/

// TODO: mint-ui 重写样式
//button
.mint-button {
    .FS(26) !important;
}
button[class*="mint-button"] {
    height: auto!important;
    .P(12, 18) !important;
    .FS(26) !important;
}
//button type
//loading
.mint-indicator-wrapper {
    .P(20) !important;
    .mint-spinner-snake {
        .W(75);
        .H(75);
    }
}
// messagebox
.mint-msgbox-confirm {
    color: @color-primary !important;
}
//mint-toast
.mint-toast {
    .P(20) !important;
    .FS(@fs28) !important;
    .mint-toast-text {
        .FS(@fs28) !important;
    }
}
//cell
.mint-cell {
    min-height: 96/@base-rem !important;
}
.mint-cell-wrapper {
    .P(0) !important;
    .FS(@fs28) !important;
    .mint-cell-text {
        .FS(@fs28) !important;
    }
    .mint-cell-title {
        .PL(@l32) !important;
    }
    .mint-cell-value {
        .PR(@l32) !important;
    }
    //filed
    .mint-cell-label {
        .FS(@fs28) !important;
        color: @extra-light-black;
    }
}
// radio
.mint-radio-input:checked + .mint-radio-core {
    background-color: @color-green !important;
    border-color: @color-green !important;
}
// indicator
.mint-indicator {
    position: relative;
}
// msgbox
.mint-msgbox {
    .mint-msgbox-header .mint-msgbox-title {
        .FS(@fs32) !important;
    }
    .mint-msgbox-content {
        .mint-msgbox-message {
            line-height: 1.3 !important;
            .FS(@fs28) !important;
        }
        .mint-msgbox-input {
            .PT(@fs28) !important;
        }
        .mint-msgbox-input {
            input {
                .FS(@fs28) !important;
                .PTB(16) !important;
                box-sizing: border-box !important;
            }
        }
    }
    .mint-msgbox-btns {
        .H(80);
        line-height: 80 / @base-rem;
    }
}
//mint-swipe
.mint-swipe-indicator.is-active {
    opacity: 1 !important;
    background: @color-green !important;
}
.mint-swipe-indicators {
    bottom: 0 !important;
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    text-align: center;
    .H(40);
    .mint-swipe-indicator {
        border-radius: 0;
        .MLR(8);
        .H(6);
        .MT(6);
        .MB(8);
        .W(20);
    }
}
.mint-toast {
    z-index: 2003 !important;
}
.mint-actionsheet {
    z-index: 2002 !important;
}
.mint-indicator {
    z-index: 2002 !important;
}
.mint-msgbox-wrapper {
    z-index: 2002 !important;
}
.mint-popup {
    z-index: 2002 !important;
}
.v-modal {
    z-index: 2001 !important;
}
