@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-6nw7k9');
	src:url('fonts/icomoon.eot?#iefix-6nw7k9') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-6nw7k9') format('truetype'),
		url('fonts/icomoon.woff?-6nw7k9') format('woff'),
		url('fonts/icomoon.svg?-6nw7k9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniF3CF:before {
	content: "\f3cf";
}
.icon-uniF3D1:before {
	content: "\f3d1";
}
.icon-uniF3D2:before {
	content: "\f3d2";
}
.icon-uniF3D3:before {
	content: "\f3d3";
}
.icon-uniF3F6:before {
	content: "\f3f6";
}
.icon-uniF453:before {
	content: "\f453";
}
.icon-navicon:before {
	content: "\e60f";
}
.icon-arrow-shrink:before {
	content: "\e601";
}
.icon-cash:before {
	content: "\e602";
}
.icon-meiwen:before {
	content: "\e600";
}
.icon-ios-checkmark-empty:before {
	content: "\e610";
}
.icon-ios-plus-empty:before {
	content: "\e618";
}
.icon-ios-close-empty:before {
	content: "\e619";
}
.icon-ios-minus-empty:before {
	content: "\e61c";
}
.icon-ios-person-outline:before {
	content: "\e61e";
}
.icon-ios-person:before {
	content: "\e61f";
}
.icon-ios-personadd-outline:before {
	content: "\e621";
}
.icon-angle-up-circle:before {
	content: "\e683";
}
.icon-angle-up2:before {
	content: "\e604";
}
.icon-angle-down-circle:before {
	content: "\e689";
}
.icon-angle-down2:before {
	content: "\e605";
}
.icon-angle-left-circle:before {
	content: "\e687";
}
.icon-angle-left2:before {
	content: "\e606";
}
.icon-angle-right-circle:before {
	content: "\e685";
}
.icon-angle-right2:before {
	content: "\e607";
}
.icon-up-arrow:before {
	content: "\e695";
}
.icon-up-arrow2:before {
	content: "\e60d";
}
.icon-bottom-arrow:before {
	content: "\e6a8";
}
.icon-bottom-arrow2:before {
	content: "\e624";
}
.icon-left-arrow:before {
	content: "\e6a2";
}
.icon-left-arrow2:before {
	content: "\e61a";
}
.icon-right-arrow:before {
	content: "\e699";
}
.icon-right-arrow2:before {
	content: "\e611";
}
.icon-plus2:before {
	content: "\e623";
}
.icon-plus:before {
	content: "\e6a3";
}
.icon-less:before {
	content: "\e644";
}
.icon-less2:before {
	content: "\e6c4";
}
.icon-close-circle:before {
	content: "\e681";
}
.icon-close:before {
	content: "\e603";
}
.icon-ios-checkmark-outline:before {
	content: "\e625";
}
.icon-ios-checkmark:before {
	content: "\e626";
}
.icon-ios-help-outline:before {
	content: "\e628";
}
.icon-ios-help:before {
	content: "\e629";
}
.icon-ios-information-outline:before {
	content: "\e62b";
}
.icon-ios-information:before {
	content: "\e62d";
}
.icon-ios-arrow-back:before {
	content: "\e62e";
}
.icon-ios-arrow-forward:before {
	content: "\e62f";
}
.icon-ios-arrow-up:before {
	content: "\e630";
}
.icon-ios-arrow-down:before {
	content: "\e631";
}
.icon-ios-arrow-left:before {
	content: "\e633";
}
.icon-ios-arrow-right:before {
	content: "\e634";
}
.icon-angle-up:before {
	content: "\e682";
}
.icon-angle-down:before {
	content: "\e688";
}
.icon-angle-right:before {
	content: "\e684";
}
.icon-angle-left:before {
	content: "\e686";
}
.icon-close2:before {
	content: "\e635";
}
.icon-call:before {
	content: "\e670";
}
.icon-call2:before {
	content: "\e6f1";
}
.icon-mail:before {
	content: "\e639";
}
.icon-mail2:before {
	content: "\e6b9";
}
.icon-ios-analytics-outline:before {
	content: "\e638";
}
.icon-ios-analytics:before {
	content: "\e63b";
}
.icon-photo:before {
	content: "\e6bf";
}
.icon-photo2:before {
	content: "\e63a";
}
.icon-ios-home-outline:before {
	content: "\e63c";
}
.icon-ios-home:before {
	content: "\e63e";
}
.icon-ios-paper-outline:before {
	content: "\e63f";
}
.icon-ios-paper:before {
	content: "\e640";
}
.icon-ios-list-outline:before {
	content: "\e641";
}
.icon-ios-list:before {
	content: "\e642";
}
.icon-menu2:before {
	content: "\e636";
}
.icon-menu:before {
	content: "\e6b6";
}
.icon-more:before {
	content: "\e632";
}
.icon-more2:before {
	content: "\e6b2";
}
.icon-ios-unlocked-outline:before {
	content: "\e643";
}
.icon-ios-unlocked:before {
	content: "\e645";
}
.icon-ios-locked-outline:before {
	content: "\e646";
}
.icon-ios-locked:before {
	content: "\e647";
}
.icon-note:before {
	content: "\e62c";
}
.icon-note2:before {
	content: "\e6ac";
}
.icon-trash:before {
	content: "\e609";
}
.icon-trash2:before {
	content: "\e68a";
}
.icon-config:before {
	content: "\e666";
}
.icon-config2:before {
	content: "\e6e7";
}
.icon-ios-search:before {
	content: "\e648";
}
.icon-ios-search-strong:before {
	content: "\e649";
}
.icon-refresh-2:before {
	content: "\e6c2";
}
.icon-refresh-22:before {
	content: "\e63d";
}
.icon-filter:before {
	content: "\e655";
}
.icon-filter2:before {
	content: "\e6d6";
}
.icon-paperclip:before {
	content: "\e614";
}
.icon-paperclip2:before {
	content: "\e69c";
}
.icon-ribbon:before {
	content: "\e61b";
}
.icon-ribbon2:before {
	content: "\e69a";
}
.icon-star:before {
	content: "\e612";
}
.icon-star2:before {
	content: "\e691";
}
.icon-comment:before {
	content: "\e668";
}
.icon-comment2:before {
	content: "\e6e9";
}
.icon-attention:before {
	content: "\e67b";
}
.icon-attention2:before {
	content: "\e6fd";
}
.icon-next-2:before {
	content: "\e6bc";
}
.icon-next-22:before {
	content: "\e637";
}
.icon-back-2:before {
	content: "\e6ad";
}
.icon-back-22:before {
	content: "\e627";
}
.icon-ios-speedometer-outline:before {
	content: "\e64a";
}
.icon-ios-speedometer:before {
	content: "\e64d";
}
.icon-graph3:before {
	content: "\e64b";
}
.icon-graph32:before {
	content: "\e6cc";
}
.icon-graph:before {
	content: "\e64e";
}
.icon-graph2:before {
	content: "\e6cf";
}
.icon-graph22:before {
	content: "\e64c";
}
.icon-graph23:before {
	content: "\e6cd";
}
.icon-server:before {
	content: "\e617";
}
.icon-server2:before {
	content: "\e697";
}
.icon-users:before {
	content: "\e693";
}
.icon-users2:before {
	content: "\e60b";
}
.icon-ios-people-outline:before {
	content: "\e64f";
}
.icon-ios-people:before {
	content: "\e650";
}
.icon-ios-contact-outline:before {
	content: "\e651";
}
.icon-ios-contact:before {
	content: "\e653";
}
.icon-user:before {
	content: "\e608";
}
.icon-user2:before {
	content: "\e68b";
}
.icon-user-female:before {
	content: "\e694";
}
.icon-user-female2:before {
	content: "\e60c";
}
.icon-expand1:before {
	content: "\e6d9";
}
.icon-signal:before {
	content: "\e613";
}
.icon-signal2:before {
	content: "\e696";
}
.icon-credit:before {
	content: "\e664";
}
.icon-credit2:before {
	content: "\e6e5";
}
.icon-id:before {
	content: "\e68f";
}
.icon-id2:before {
	content: "\e61d";
}
.icon-note22:before {
	content: "\e69d";
}
.icon-note23:before {
	content: "\e615";
}
.icon-wallet2:before {
	content: "\e60a";
}
.icon-wallet:before {
	content: "\e680";
}
.icon-pin:before {
	content: "\e69b";
}
.icon-pin2:before {
	content: "\e616";
}
.icon-ios-time-outline:before {
	content: "\e654";
}
.icon-ios-time:before {
	content: "\e656";
}
.icon-clock:before {
	content: "\e66b";
}
.icon-clock2:before {
	content: "\e6ec";
}
.icon-date:before {
	content: "\e660";
}
.icon-date2:before {
	content: "\e6e1";
}
.icon-bell:before {
	content: "\e677";
}
.icon-bell2:before {
	content: "\e6f9";
}
.icon-display22:before {
	content: "\e6de";
}
.icon-ios-bookmarks-outline:before {
	content: "\e657";
}
.icon-ios-bookmarks:before {
	content: "\e658";
}
.icon-ios-lightbulb-outline:before {
	content: "\e659";
}
.icon-ios-lightbulb:before {
	content: "\e65a";
}
.icon-ios-printer-outline:before {
	content: "\e65b";
}
.icon-ios-printer:before {
	content: "\e65c";
}
.icon-target:before {
	content: "\e60e";
}
.icon-target2:before {
	content: "\e68d";
}
.icon-gift:before {
	content: "\e652";
}
.icon-gift2:before {
	content: "\e6d3";
}
.icon-diamond:before {
	content: "\e6af";
}
.icon-diamond2:before {
	content: "\e62a";
}
.icon-ios-help-empty:before {
	content: "\e65e";
}
.icon-ios-personadd:before {
	content: "\e65f";
}
.icon-camera:before {
	content: "\e66f";
}
.icon-camera2:before {
	content: "\e6f0";
}
.icon-back:before {
	content: "\e67a";
}
.icon-back2:before {
	content: "\e6fc";
}
.icon-ios-pulse:before {
	content: "\e661";
}
.icon-ios-pulse-strong:before {
	content: "\e662";
}
.icon-add-user:before {
	content: "\e6a9";
}
.icon-add-user2:before {
	content: "\e622";
}
.icon-delete-user:before {
	content: "\e6a7";
}
.icon-delete-user2:before {
	content: "\e620";
}
.icon-cart:before {
	content: "\e66e";
}
.icon-cart2:before {
	content: "\e6ef";
}
.icon-display2:before {
	content: "\e65d";
}
